#resume-display {
    background: #30415d;
    text-align: center;
    padding-bottom: 60px;
    padding-top: 20px;
}

object {
    width:70%;
    height:1100px;
}

h1 {
    font-size: 400%;
    margin-bottom: 40px;
}

#resume-link {
    color: lightblue;
}